span.David{
    font-size: large;
}
table.ji{
        border: #7b974d 7px ridge;
    }

table.jojijo{
        border: #54e492 7px ridge;
      }
    td, th {
        border: rgb(172, 219, 84) 1px ridge;
          }

h4.pp{
    background-color: #e8f385;
}

ul{
    text-decoration: underline;
}
h1{
    text-align: center;
}
p.yo{
    border: rgb(12, 68, 221) 5px dotted
}
h1,h2.oo,h2.ii,h3,h4,h5{
    text-align: center;
} 
p.juju{
    text-align: center;
}
html{
    background-color: rgb(212, 249, 248);
}
